 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.daftar-page {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: url('../img/background2.webp') no-repeat center center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.daftar-container {
    width: 420px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    z-index: 2; 
}

.daftar-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background: #e63946;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #c52533;
}

.to-daftar {
    margin-top: 15px;
    text-align: center;
}

.to-daftar a {
    color: #ffd166;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    padding: 0;
    border: none;
    z-index: 10;
}

.back-btn img{
    max-width: 200px;
    max-height: 200px;
    width:100px;
    display:block;
    transition: transform 0.2s ease; 
}

.back-btn img:hover {
    transform: scale(1.05); 
}
